
<ion-slide-box on-slide-changed="slideHasChanged($index)" >
    <ion-slide>
        <div style="height: 100%;width: 100%;text-align: center">
               <img src="img/help-screen-1.png" width="100%" style="margin: 50px 0 0;">
           </div>
        <div style="position: absolute;right: 0;bottom: 20px">
            <img src="img/left.png">
        </div>
        <div style="position: absolute;bottom: 60px;width: 100px;left: 50%;margin: 0 0 0 -50px;text-align: center">
            <a href="#/" style="text-decoration:none;color:#ee4a43;font-family: 'dock11';font-size: 30px">MENU</a>
        </div>
    </ion-slide>
    <ion-slide>
        <div style="height: 100%;width: 100%;text-align: center">
            <img src="img/help-screen-2.png"  width="100%" style="margin: 50px 0 0">
        </div>
        <div style="position: absolute;left: 0;bottom: 20px">
            <img src="img/right.png">
        </div>
        <div style="position: absolute;right: 0;bottom: 20px">
            <img src="img/left.png">
        </div>
        <div style="position: absolute;bottom: 60px;width: 100px;left: 50%;margin: 0 0 0 -50px;text-align: center">
            <a href="#/" style="text-decoration:none;color:#ee4a43;font-family: 'dock11';font-size: 30px">MENU</a>
        </div>
    </ion-slide>
    <ion-slide>
        <div style="height: 100%;width: 100%;text-align: center">
            <img src="img/help-screen-3.png"  width="100%" style="margin: 50px 0 0">
        </div>
        <div style="position: absolute;left: 0;bottom: 20px">
            <img src="img/right.png">
        </div>
        <div style="position: absolute;bottom: 60px;width: 100px;left: 50%;margin: 0 0 0 -50px;text-align: center">
            <a href="#/" style="text-decoration:none;color:#ee4a43;font-family: 'dock11';font-size: 30px">MENU</a>
        </div>
    </ion-slide>
</ion-slide-box>
